@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
}

.jumbotron {
   font-size: 20px;
   padding: 60px;
   background-color: #96858f;
   text-align: center;
   color: white;
}

header {
   display: inline;
}

nav {
   background-color: #6d7993;
   padding: 5px;
   position: sticky;
   top: 0;
}

nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
}

nav a {
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   color: white;
}

nav a:hover {
   font-weight: bold;
}

* {
   box-sizing: border-box;
}

main {
   padding: 20px;
   overflow: auto;
   background-color: #9099a2;
}

#content {
   float: left;
   width: 70%;
}

aside {
   float: right;
   width: 30%;
   padding-left: 10px;
}

@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }
}

h2, h3 {
   color: #96858f
}

.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   padding: 20px;
   margin-top: 20px;
   background-color: #ffffff;
}

.featured-image {
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   object-position: center;
}

 .profile header {
   text-align: center;
}

.profile img {
   width: 200px;
}

footer {
   padding: 20px;
   color: white;
   background-color: #96858f;
   text-align: center;
   font-weight: bold;
}
